.header-nawbar{
    height: 70px;
    background-color: black;
    color: white;
   text-align: left;
   padding-left: 2rem;
   position: fixed;
   padding-top: .5rem;
   padding-bottom: .5rem;
   width: 100vw;
}

.header-section{
    
    height: 160px;
    text-align: center;
}

.header-section h1{
    padding-top: 85px;
    font-size: 2.5rem;
}